body{
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    padding: 70px 20px 0 20px ;
    background-color: rgb(252, 230, 196);
  
}

*{
    margin: 0;
    padding: 0;
}

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(228, 193, 136, 0.938);
    backdrop-filter: blur(5px);

    width: 100%;
    height: 70px;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(199, 148, 71);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    
}



.img-logo{
    height: 60px;
    width: 75px;
    margin-top: 10px;
    transition: width 0.2s ease , height 0.2s ease;

    &:hover{
        height: 65px;
        width: 80px;
    }
}

.nav-bar button{
    position: fixed;
    left: 10px;
    top: 10px;
    cursor: pointer;
}


/* //dsasdasdasdadasddas */

.introHistorico{
    margin-top: 50px;
    width: 80%;
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 10px;
}

.indicacoes{
    margin-bottom: 100px;
 }    
 
  .indicacoes h2{
     margin-left: 100px;
     margin-bottom: 20px;
     margin-top: 100px;
     font-weight: 500;
     font-size: 28px;
     border-bottom: 1px solid rgb(192, 160, 160);
  }
 
 
 .livros-recomenda {
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    overflow-x: auto;
    white-space: nowrap;
 
 }
 
 
 .img-livro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    height: 350px;
    width: 180px;
    background-color: rgb(241, 233, 221);
    border-radius: 10px;
    border: 1px solid rgb(92, 92, 92);
    margin-right: 40px;
 
    box-shadow: 0px 4px 10px  4px rgba(0, 0, 0, 0.336);
 
 
 }
 .img-livro img{
    height: 200px;
    width: 140px;
 
    border-radius: 6px;
 }
 
 
 .func-livro{
    width: 100%;
    display: flex;
    flex-direction: column;
    
 }
 .func-livro a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 14px;
    color: rgb(56, 52, 41);
    background-color:rgb(216, 216, 164) ;
    height: 35px;
    width: 100px;
    border: 1px solid rgb(182, 182, 146);
 
    transition: 0.3s ease;
 
    &:hover{
       background-color: rgb(175, 175, 124) ;
    }
 }
 
 #status{
    width: 80px;
 }
 
 
 
 
 