body{
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    padding: 70px  0 0 0 ;
    background-color: #232b31;
  
}

*{
    margin: 0;
    padding: 0;
}

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(228, 193, 136);
    backdrop-filter: blur(5px);

    width: 100%;
    height: 70px;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(199, 148, 71);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    
}



.img-logo{
    height: 60px;
    width: 75px;
    margin-top: 10px;
    transition: width 0.2s ease , height 0.2s ease;

    &:hover{
        height: 65px;
        width: 80px;
    }
}

.button{
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
    color: rgb(110, 82, 45);
    font-size: 24px;
    font-weight: 600;

    text-decoration: none;
    transition: 0.2s ease ;

    &:hover{
        color: white;
    }
}


/* parte sala  */

.salaChat{
    
    display: flex;
    
}

.containersala{  
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
     
}

/* aba do chat */

.chat {
    width: 70%;
    height: 100%;
    
    display: none;
    flex-direction: column;
    justify-content: space-between;

}

.chat__messages {
    flex-grow: 1;
    padding: 30px 30px 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.chat__form  {
    background-color: #191919fb;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0;
    width: 70%;

    
}

.chat__input {
    border: none;
    padding: 15px;
    border-radius: 8px;
    width: 89%;
    background-color: #212121;
    outline: none;
    color: #f2f2f2;
    font-size: 1rem;
}

.chat__button {
    border: none;
    background: none;
    color: #f2f2f2;
    cursor: pointer;
}

.chat__button > span {
    font-size: 1.8rem;
}

.chat__messages > div {
    padding: 10px;
    width: 100%;
    max-width: 250px;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 22px;
}

.message--self {
    background-color: #f2f2f2;
    color: #121212;
    border-radius: 10px 10px 0 10px;
    align-self: flex-end;
}

.message--other {
    background-color: #333;
    color: #f2f2f2;
    border-radius: 0 10px 10px 10px;
    align-self: flex-start;
}

.message--sender {
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
    color: cadetblue;
}

.btn-sair-sala{
position: absolute;
bottom: 90px;
left: 10px;
cursor: pointer;
font-weight: 600;
display: flex;
align-items: center;
justify-content: center;
height: 7%;
width: 55%;
border-radius: 10px;
color: rgb(252, 237, 216);
background-color: rgb(231, 184, 127);

&:hover{
    background-color: rgb(202, 151, 89);
    transition: 0.5s ease-in-out;
    color:white;
}

}

.usuarios-container {
    border-radius: 10px;
    border-bottom: 1px solid rgb(219, 198, 138);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    margin-top: 15px;
}

.usuarios-container h2 {
    margin-bottom: 20px;
   
    color: rgb(120, 94, 37);
    text-align: center;
    border-bottom: 1px solid rgb(219, 198, 138);
    padding-bottom: 10px;
}

.usuarios-lista {
    margin: 0;
    padding: 0;
}

.usuario-item {

    width: 90%;
    background-color: rgb(252, 230, 204);
    border-bottom: 2px solid rgba(219, 198, 138, 0.7);
    border-radius: 8px; 
    padding: 15px;
    margin-bottom: 15px;
    box-shadow:  rgba(0, 0, 0, 0.1);
    display: flex;  
    flex-direction: column;
    gap: 10px;
}

.usuario-info p {
    margin: 0;
    font-size: 0.95rem;
    color: #333;
}

.usuario-info strong {
    color: rgb(180, 143, 88);
    font-weight: 600;
    
}

.status-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin-top: 5px;
}

.status-icon.lendo , .status-icon.lido, .status-icon.baixado  {
    background-color: #af844c; 
}

.status-icon.default {
    background-color: #d3c6b8;
}



.info-sala {
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(252, 230, 204);
    border-bottom: 1px solid #e1e1e1;
    margin: 20px auto;
    text-align: center;
}

/* Estilo para o título e subtítulo */
.titulo-sala h1 {
    font-size: 18px;
    color: #57401e;
    margin-bottom: 5px;
    font-weight: bold;
}

.titulo-sala .conteudo {
    font-size: 22px;
    color: #363636;
    margin-bottom: 20px;
    font-weight: normal;
    text-transform: capitalize;
}
/* modal de confirmacao */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#conf, #canc {
    background-color: #c99b67;
    color: rgb(48, 48, 48);
    font-weight: 600;

    &:hover{
        transition: all 0.3s ease;

        background-color: #685436;
        color: wheat;
        transform: scale(1.03);
    }
}


   

/* outras abas */

.salafunc{
    background-color: bisque;
    width: 15%;
    height: 100%;
    position: fixed;
    right: 0;

    align-content: baseline;

    overflow-y: auto;

   
}
.onlineUser{
    background-color: bisque;
    width: 15%;
    height: 100%;
    position: fixed;
    left: 0;


    
}