body{
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    padding: 70px 70px 0 70px;
    background-color: rgb(252, 239, 220);
}

*{
    margin: 0;
    padding: 0;
}



.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: rgba(228, 193, 136, 0.938);
    backdrop-filter: blur(5px);

    width: 100%;
    height: 70px;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(199, 148, 71);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    
}



.img-logo{
    height: 60px;
    width: 75px;
    margin-top: 10px;
    margin-left: 50px;
    transition: width 0.2s ease , height 0.2s ease;

    &:hover{
        height: 65px;
        width: 80px;
    }
}

.func{
    background-color: rgba(253, 233, 189, 0.438);
    width: 180px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-right: 200px;
}

.func a {
    text-decoration:none ;
    color: rgb(105, 88, 62);
    font-size: 20px;
    font-weight: 500;
    transition: color .2s ease , font-size .2s ease;

    &:hover{
        color: rgb(255, 249, 245);
        text-decoration: underline;
        font-size: 22px;
    }
}


/* primeira sessao */

.intro{

    margin-top: 30px;

}

section h1{
    display: flex;
    justify-content: center;
   
    
    font-size: 28px;
    color: #3a3128;
    font-weight: 700;
    
}

.pitch{
    display: flex;
    flex-direction: row-reverse;
}
.pitch video{
    border-radius: 20px;
    margin-top: 30px;
}
.pitch p{
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 20px;
}
.pitch h3{
    margin-top: 50px;
    font-weight: 600;
    font-size: 24px;
 
    color: #4a3f35;
}
.content-pitch{
    padding: 20px 25px ;
}

.content-pitch a{
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    background: linear-gradient(135deg, #cfa16c, #d6a98d);
    color: #fff;
    padding: 10px;
    transition:0.3s ease;
}

.content-pitch a:hover {
    background: #b38268;

}



/* sessao sobre nos */


.sobre-nos{
    border-top: 2px solid rgb(68, 68, 68);
    margin-top: 150px;
    width: 65%;
}
.sobre-nos h2{
    font-weight: 600;
    color: #4a3f35;
}
.sobre-nos p{
    margin-top: 20px;
    font-size: 18px;
}



/* Estilo para ocultar o modal e a div de fade inicialmente */

/* Fade de fundo compartilhado */
.fade {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.836);
    z-index: 20;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Modais de cadastro e login */

.modal-cadastro,
.modalLogin {
    display: none; /* Inicialmente oculto */
    position: fixed;
    width: 50%; 
    z-index: 30; 
    overflow: hidden; 
    
}

/* Modal de cadastro */
.modal-cadastro {
    left: 35%; /* Centralizado horizontalmente */
    height: 90vh;
    width: 30%;
    bottom: 0; /* Aparece de baixo para cima */
}

/* Modal de login */
.modalLogin {
    left: 35%; /* Centralizado horizontalmente */
    height: 70vh;
    width: 30%; /* Altura do modal */
    bottom: 100px; /* Posição de origem mais alta */
}

/* Conteúdo dos modais com transição suave */
 .modal-content,
 .modal-content {
    position: relative;
    bottom: -100%;
    background-color: rgb(255, 248, 237);
    height: 90%;
    padding: 20px;
    border-radius: 20px;
    transition: bottom 0.3s ease;
    

}

/* Controle de visibilidade */
.fade.show {
    display: block;
    opacity: 1;
}
.modal-cadastro.show,
.modalLogin.show {
    display: block;
}

/* Mostra o conteúdo quando o modal está ativo */
.modal-cadastro.show .modal-content,
.modalLogin.show .modal-content {
    bottom: 0;
}

/* Estilo para o cabeçalho do modal de cadastro */
.header-cadastro {
    display: flex;
    justify-content: center;
    width: 100%;

}
.header-cadastro h1 {
    color: rgb(43, 43, 43); 
    display: flex;
}
#cdst {
    margin-right: 10px;
}
#ktp {
    color: rgb(145, 117, 82);
    border-bottom: 2px solid rgb(145, 117, 82);
}
.cadastro-modal{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.cadastro-modal p {
    display: flex;
    width: 80%;
    justify-content: baseline;
}

/* Formulário de cadastro */
.form-cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
}
.form-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
}
.form-cadastro div{
    height: 45px;
}
.form-cadastro a,
.form-login a{

    display: flex;
    color: black;
    width: 100%;
    
}

.link{
    color: rgb(145, 117, 82);
    
}
.form-cadastro input,
.form-login input {
    outline: 0;
    height: 28px;
    width: 97%;
    border-radius: 5px;
    border-left: none;
    border-bottom: 1px solid rgb(53, 53, 53);
    border-right:none;
    border-top: none;
    background-color: rgb(245, 231, 231);
    padding: 1px 6px;
    
}



#btnCadastrar ,
#btnLogar{
    width: 100%;
    height: 35px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    background-color: rgb(197, 159, 112);
    color: white;
    font-weight: 600px;
}
#btnLogar{
    margin-top: 20px;
}

/* Botão de fechar */
.close-modal {
    width: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 15px;
    color: black;
    cursor: pointer;
    background-color: #eeeeee;
    border-radius: 10px;
    transition: 0.2s ease;
    border: 1px solid rgb(66, 66, 66);
}

.close-cadastro:hover,
.close-login:hover {
    background-color: rgba(134, 134, 134, 0.384);

}

/* Estilo do cabeçalho do modal de login */
.header-login {
    display: flex;
    justify-content: center;
    width: 100%;
}
.header-login h1 {
    color: rgb(43, 43, 43);
    display: flex;
}

/* Formulário de login */



.erro{
    font-size: 10px;
    color: red;
    height: 10px;
}



/* footer */

.footer{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 180px;

    position: relative;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: rgba(228, 193, 136, 0.938);

}

.footer h2{
    font-weight: 400;
}



@media (max-width: 790px) {
    body{
        padding: 70px 20px 20px 20px;
        margin: 0 auto;
    }

    .func{
        margin-right: 20px;
    }

    .sobre-nos{
        width: 100%;
    }
    .sobre-nos p{
        margin: 15px 20px 0 20px;
    }

    .pitch {
        flex-direction: column; /* Altera o layout para coluna em telas menor*/
        margin-left: 20px;
        margin-right: 20px;
    }

    .pitch video {
        width: 100%; /* O vídeo ocupará toda a largura disponível */
        height: auto; /* Ajusta a altura proporcional ao vídeo */
    }

    .pitch h3, .pitch p {
        margin-top: 20px; /* Ajusta o espaçamento no conteúdo textual */
        text-align: center; /* Centraliza o texto para melhorar a apresentação */
    }

    .content-pitch {
        padding: 10px; /* Reduz o espaçamento do conteúdo */
    }

    .modal-cadastro {
        left: 13.5%; /* Centralizado horizontalmente */
        height: 90vh;
        width: 80%;
        bottom: 0; /* Aparece de baixo para cima */
    }
    
    /* Modal de login */
    .modalLogin {
        left: 13.5%; /* Centralizado horizontalmente */
        height: 70vh;
        width: 80%; /* Altura do modal */
        bottom: 100px; /* Posição de origem mais alta */
    }

    .modal-content {
        width: 80%; /* Ajuste o modal para se adequar melhor a telas menores */
        height: auto; /* Ajusta altura do modal para telas pequenas */
        overflow-y: auto; /* Adiciona rolagem se o conteúdo for muito grande */
    }

    .form-cadastro input {
        width: 97%; /* Faz os campos do formulário ocuparem toda a largura no modal */
    }

    .form-login input {
        width: 97%; /* Ajuste similar no login */
    }
}
